.map-wrapper {
    width: 90%;
    display: block;
    position: relative;
    max-width: 850px;
    margin: auto;
    border: 1px solid #ccc;
    font-family: 'Baloo Paaji 2', Arial, Helvetica, sans-serif;
}
.hover-details{
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid green; 
    border-radius: 4px;
    margin: 10px;

}

.table-data{
    width: 40%;
    font-size: 0.9em;
}

.key{
    font-weight: bold;
}

.value{
    text-align: center;
}

.hover-title{
    background-color: #ccc;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
}

.table-data{
    padding: 3px;
}

.table-header {
}

.row-content {
    padding: 0px 8px;
    text-align: center;
}

.tabulated-details {
    width: 80%;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
}

.nepal-svg{
}

.tabulated-details>table{
    width: 100%;
    border: 1px solid silver;
    border-radius: 4px;
}

.corona-box-body{
    width: 100%;
}
.tuple:nth-child(even) {background-color: white;}
.tuple:nth-child(odd) {background: #ddd}


.tuple{
    width: 100%;
}

.col0{
    width: 9%;
}

.col1{
    width: 25%;
    text-align: left;
    padding-left: 15px;
}


.col2{
    width: 22%;
}

.col3{
    width: 22%;
}

.col4{
    width: 22%;
}

.table-header{
    font-weight: bold;
    padding: 2px 8px;
}

.table-footer{
    font-weight: bold;
    padding: 2px 8px;
}


.nation_boundary {
    stroke: silver;
    stroke-width: 1px;
}

path:hover {
    fill-opacity: 0.7;
}

path {
    stroke-width: 2px;
    stroke: white;
}

.district {
    stroke-width: 2px;
}

.district:hover .district {
    fill-opacity: 0.7;
}

.province-1 {
    fill: #de98eb
}

.province-2 {
    fill: #f2a55a
}

.bagmati {
    fill: #6ac45b
}

.gandaki {
    fill: #f2a55a
}

.province-5 {
    fill: #de98eb
}

.karnali {
    fill: #6ac45b
}

.sudurpashchim {
    fill: #28a6f5
}



.state_boundary:hover,
#path4007:hover {
    fill: none
}


/* Styles for two buttons */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


.button-district,
.button-province {
    display: inline-flex;
    height: 30px;
    padding: 0 10px;
    border: 2px solid #304242;
    margin: 5px 5px 5px 5px;
    color: #304242;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: #304242;
    text-decoration: none;
    letter-spacing: 1px;
}


/* Fourth Button */

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-4 a {
    position: relative;
    transition: all .45s ease-Out;
}

#underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #304242;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-4:hover #underline {
    left: 0;
}


@media screen and (max-width: 700px) {
   
    .hover-details{
        width: 70%;
        min-width: 300px;
        position: relative;
        margin: 10px auto;
    
    }
    
  }