.map-wrapper {
    width: 90%;
    display: block;
    position: relative;
    max-width: 750px;
    margin: auto;
    border: 1px solid silver;
}
.nepal-svg {
}


path:hover {
    fill: #ff4500;
}

.district {
    stroke-width: 0;
}

.district:hover .district {
    fill: #ff4500
}

/* 
.ekk {
    fill: #e6b9f2
}

.dui {
    fill: #e2f284
}

.bagmati {
    fill: #fffc9a
}

.gandaki {
    fill: #ffca75
}

.lumbini {
    fill: #e6b9f2
}

.karnali {
    fill: #fffc9a
}

.sudurpashchim {
    fill: #e2f284
} */



.state_boundary:hover,
#path4007:hover {
    fill: none
}