body {
    font-family: 'Baloo Paaji 2', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
body::-webkit-scrollbar-track {

    width: 0.5em;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {

    width: 0.5em;
    background-color: #62a059;
    outline: 1px solid #62a059;
}



.nav-bar {
    background-color: #86d07a;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.site-label {
    padding: 0 20px;
    font-size: 1.3em;
    color: #014401;
    cursor: pointer;
}

.site-label:hover {
    text-decoration: underline;
}

.header-title {
    padding: 0 20px;
    line-height: 40.67px;
    font-weight: bold;
    color: #014401;
    font-size: 16px;
    margin: 0px;
}

.dev {
    display: block;
    position: absolute;
    padding-top: 5px;
    right: 40px;
    line-height: 15px;
    font-size: 0.85em;
}

.dev-mobile {
    display: none;
}

.bhuwan {
    color: blue
}

.spinner {
    display: block;
    margin: auto;
    position: absolute;
    left: calc(50vw - 25px);
    height: 50px;
    top: 25vh;
}

.spinner>img {
    width: 50px
}

.map-wrapper {
    width: 90%;
    display: block;
    position: relative;
    max-width: 850px;
    margin: auto;
    border: 1px solid #ccc;
    font-family: 'Baloo Paaji 2', Arial, Helvetica, sans-serif;
}

.district-label,
.province-label {
    width: 0;
    height: 0;
    pointer-events: none;
    color: black;
}

.province-label {
    font-size: 20px;
}


.info-text {
    position: relative;
    padding-bottom: 5px;
    line-height: 1em;
    font-size: 0.8em;
    display: block;
    text-align: center;

}


.hover-details {
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid green;
    border-radius: 4px;
    margin: 10px;
}


.table-data {
    width: 40%;
    font-size: 0.9em;
}

.key {
    font-weight: bold;
}

.value {
    text-align: center;
}

.hover-title {
    background-color: #86d07a;
    border-radius: 4px;
    padding: 8px;
    padding-left: 16px;
    font-weight: bold;
}

.table-data {
    padding: 3px;
}

.table-header {}

.row-content {
    padding: 0px 8px;
    text-align: center;
}

.tabulated-details {
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    max-width: 800px;
    min-width: 250px;
    margin: auto;
    box-sizing: border-box;
}

.nepal-svg {}

.tabulated-details>table {
    width: 100%;
    border: 1px solid silver;
    border-radius: 4px;

}

.corona-box-body {
    width: 100%;
}

.tuple:nth-child(even) {
    background-color: white;
}

.tuple:nth-child(odd) {
    background: #ddd
}


.tuple {
    width: 100%;
}

.col0 {
    width: 8%;
}

.col1 {
    width: 20%;
    text-align: left;
    padding-left: 15px;
}


.col2 {
    width: 18%;
}

.col3 {
    width: 18%;
}

.col4 {
    width: 18%;
}

.col5 {
    width: 18%;
}

.table-header {
    font-weight: bold;
    padding: 2px 8px;
}

.table-footer {
    font-weight: bold;
    padding: 2px 8px;
}


.nation_boundary {
    stroke: silver;
    stroke-width: 1px;
}

path:hover {
    fill-opacity: 0.7;
}

path {
    stroke-width: 2px;
    stroke: silver;
}

.district {
    stroke-width: 2px;
    stroke: #87a0e9
}

.district:hover .district {
    fill-opacity: 0.7;
}

.province-1 {
    fill: #de98eb
}

.province-2 {
    fill: #f2a55a
}

.bagmati {
    fill: #6ac45b
}

.gandaki {
    fill: #f2a55a
}

.province-5 {
    fill: #de98eb
}

.karnali {
    fill: #6ac45b
}

.sudurpashchim {
    fill: #28a6f5
}



.state-boundary:hover,
#path4007:hover {
    fill: none
}


/* Styles for two buttons */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


.button-district,
.button-province {
    display: inline-flex;
    height: 30px;
    padding: 0 10px;
    border: 2px solid #304242;
    margin: 5px 5px 5px 5px;
    color: #304242;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: #304242;
    text-decoration: none;
    letter-spacing: 1px;
}


/* Fourth Button */

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-4 a {
    position: relative;
    transition: all .45s ease-Out;
}

#underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #304242;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-4:hover #underline {
    left: 0;
}


@media screen and (max-width: 700px) {
    .hover-details {
        min-width: 250px;
        max-width: 350px;
        position: relative;
        margin: 0 auto 10px auto;
        left: 0;
    }

}

/* ------------Box data------------------ */
@media screen and (max-width: 420px) {
    .tabulated-details>table {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 380px) {
    .tabulated-details>table {
        font-size: 0.75em;
    }
}

/* ------------Box data------------------ */



@media only screen and (min-width:400px) and (max-width:600px) {
    .province-label {
        font-size: 28px;
    }
}

@media only screen and (max-width:399px) {
    .province-label {
        font-size: 32px;
    }
}





@media only screen and (min-width:499px) and (max-width:700px) {
    .nav-bar {
        padding: 15px 4px;
        flex-direction: row;
        line-height: 36px;
    }

    .site-label {
        padding: 0 5px;
        font-size: 1em;
        color: #014401;
        cursor: pointer;
    }

    .site-label:hover {
        text-decoration: underline;
    }

    .header-title {
        padding: 0 5px;
        font-weight: bold;
        font-size: 0.9em;
        line-height: 37px;
        color: #014401
    }

    .dev {
        font-size: 0.7em;
    }
}


@media only screen and (max-width:500px) {
    .nav-bar {
        padding: 15px 4px;
        flex-direction: row;
        line-height: 36px;
    }

    .site-label {
        padding: 0 5px;
        font-size: 1em;
        color: #014401;
        cursor: pointer;
    }

    .site-label:hover {
        text-decoration: underline;
    }

    .header-title {
        padding: 0 5px;
        font-weight: bold;
        font-size: 0.9em;
        color: #014401;
        line-height: 37px;
    }


    .dev {
        display: none;
    }

    .dev-mobile {
        display: block;
        padding: 5px;
        font-size: 0.65em;
        text-align: center;
    }


.spinner {
    display: block;
    margin: auto;
    position: absolute;
    left: calc(50vw - 25px);
    height: 50px;
    top: 125px;
}

}